:root {
  --font-size-20: min(3vw, 20px);
  --font-size-24: min(4vw, 24px);
  --font-size-28: min(5vw, 28px);
  --font-size-50: min(8vw, 50px);
  --font-size-72: min(9vw, 72px);
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-72);
  margin: 0;
  padding-bottom: 0.5%;
}

h2 {
  font-size: var(--font-size-50);
  margin: 0;
}

h3 {
  font-size: var(--font-size-28);
  font-weight: lighter;
  margin: 0;
}

.email {
  color: 893D62;
}

h4 {
  font-size: var(--font-size-24);
  margin: 0;
}

p {
  font-size: var(--font-size-20);
  font-weight: light;
  color: black;
  margin: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 2% 0% 0% 0%;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  color: white;
  background-color: #893d62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 2% 5% 2% 5%;
  height: 70px;
}

.menu_sections {
}

.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name {
  margin-right: 23%;
  white-space: nowrap;
}

.button_home {
  font-family: inherit;
  background-color: #893d62;
  font-size: var(--font-size-52);
  font-weight: bolder;
  border: none;
  color: white;
  padding: 0%;
  text-align: center;
  text-decoration: none;
}

.header_email {
  font-weight: lighter;
}

.mail {
  text-decoration: none;
  color: white;
}

ul {
  font-weight: 500;
  font-size: var(--font-size-28);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}

li a:hover {
  font-weight: 500;
  color: #accecb;
}

/* text */

.names {
  padding: 12% 5% 0% 5%;
  /* pick a color */
  /* color: #893D62; */
  color: #893d62;
}

.project {
  padding: 4% 5% 1% 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.project_info {
  display: flex;
  flex-flow: column wrap;
  width: min(100%, 650px);
  align-items: flex-start;
  gap: 25px;
}

.delivered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5%;
  width: min(100%, 650px);
}

.skills {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5%;
  width: min(100%, 650px);
}

.blank_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5%;
  width: min(100%, 650px);
}

.project_info_1 {
  width: 75%;
  padding: 0%;
  display: flex;
  flex-flow: column nowrap;
}

.microsite_link {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-top: 110px;
}

.button_microsite {
  width: 100%;
  font-family: inherit;
  background-color: #2b706b;
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-size-24);
  cursor: pointer;
}

.button_microsite:hover {
  background-color: #40817d;
}

.name_info {
  width: min(100%, 650px);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.bold_1 {
  font-weight: bolder;
  padding-top: 0%;
  width: 18%;
}

.bold {
  font-weight: bolder;
  width: 30%;
}

.project_text {
  font-weight: lighter;
  padding: 1% 0% 5% 0%;
}

/* project photo section */

.photos {
  padding: 1% 5% 6% 5%;
  display: grid;
  max-width: 100%;
  height: 450%;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(28, 1fr);
  grid-gap: 40px;

  grid-template-areas:
    "desk1 desk1 ."
    "desk1 desk1 inspiration"
    "desk1 desk1 inspiration"
    "desk1 desk1 inspiration"
    "desk1 desk1 ."
    "desk2 desk2 desk2"
    "desk2 desk2 desk2"
    "desk2 desk2 desk2"
    "desk2 desk2 desk2"
    "desk2 desk2 desk2"
    "desk2 desk2 desk2"
    "desk2 desk2 desk2"
    "paper print_shield laptop"
    "paper print_shield laptop"
    "paper print_shield microsite"
    "paper print_sprinkles microsite"
    "paper print_sprinkles microsite"
    "Bread1 print_sprinkles microsite"
    "Bread1 print_sunset microsite"
    "Bread1 print_sunset microsite"
    "Bread1W print_sunset microsite"
    "Bread1W . microsite"
    "Bread1W . ."
    "sunsense_MG sunsense_MG sunsense_MG"
    "sunsense_MG sunsense_MG sunsense_MG"
    "sunsense_MG sunsense_MG sunsense_MG"
    "sunsense_MG sunsense_MG sunsense_MG"
    "sunsense_MG sunsense_MG sunsense_MG";
}

@media only screen and (max-width: 1024px) {
  .photos {
    height: 600%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 30px;
    grid-template-areas:
      "desk1"
      "desk2"
      "sunsense_MG"
      "Bread1"
      "Bread1W"
      "paper"
      "microsite"
      "inspiration"
      "print_sprinkles"
      "print_sunset"
      "print_shield"
      "laptop";
  }
}

.photos div {
  overflow: hidden;
}

.photos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.desk1 {
  grid-area: desk1;
}

.desk2 {
  grid-area: desk2;
}

.sunsense_MG {
  grid-area: sunsense_MG;
  padding-bottom: 2%;
}

.sunsense_MG img {
  /* transform: scale(1) translateY(0%) translateX(0%); */
  object-fit: contain;
}

.Bread1 {
  grid-area: Bread1;
}

.Bread1 img {
}

.Bread1W {
  grid-area: Bread1W;
}

.Bread1W img {
  transform: scale(1) translateY(-1%) translateX(0%);
}

.paper {
  grid-area: paper;
}

.paper img {
  transform: scale(1) translateY(0%) translateX(0%);
}

.inspiration {
  grid-area: inspiration;
}

.inspiration img {
  transform: scale(0.95) translateY(0%) translateX(0%);
}

.microsite {
  grid-area: microsite;
}

.microsite img {
  object-fit: contain;
}

.print_sprinkles {
  grid-area: print_sprinkles;
}

.print_sprinkles img {
}

.print_sunset {
  grid-area: print_sunset;
}

.print_sunset img {
  transform: scale(1.1) translateY(4%);
}

.print_shield {
  grid-area: print_shield;
}

.print_shield img {
  transform: scale(1.1) translateY(2%);
}

.laptop {
  grid-area: laptop;
}

/* navigation arrows */

.navigation {
  display: flex;
  gap: 10px;
  padding: 5% 5% 3% 5%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.navigation_left {
  flex: 1;
  display: flex;
  height: 90px;
  text-decoration: none;
}

.navigation_right {
  flex: 1;
  display: flex;
  height: 90px;
  justify-content: flex-end;
  text-decoration: none;
}

/* navigation arrows - left */

.triangle_left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.triangle_outer_left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 65px solid #40817d;
}

.triangle_inner_left {
  position: relative;
  bottom: 28px;
  left: 12px;
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 29px solid transparent;
  border-right: 47px solid white;
}

.arrow_left_image {
  transform: scale(90%);
  object-fit: contain;

  padding: 0% 2% 0% 2%;
}
@media only screen and (max-width: 1100px) {
  .arrow_left_image,
  .arrow_right_image {
    display: none;
  }
}

.arrow_left_name {
  display: block;
  color: #2b706b;
  font-size: var(--font-size-24);
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* navigation arrows - right */

.arrow_right_name {
  display: block;
  color: #2b706b;
  font-size: var(--font-size-24);
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow_right_image {
  transform: scale(90%);
  object-fit: contain;
  margin: 0%;
  padding: 0% 2% 0% 2%;
}

.triangle_right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.triangle_outer_right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 65px solid #40817d;
}

.triangle_inner_right {
  position: relative;
  bottom: 28px;
  right: 59px;
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 29px solid transparent;
  border-left: 47px solid white;
}

/* footer links */

.figma img {
  width: 100%;
  height: auto;
}

.github img {
  object-fit: fill;
}

.linkedin img {
  object-fit: fill;
}
