h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 82;
  margin: 0;
  padding-bottom: 0.5%;
}

h2 {
  font-size: 52;
  margin: 0;
}

h3 {
  font-size: 32;
  font-weight: lighter;
  margin: 0;
}

.email {
  color: 893D62;
}

h4 {
  font-size: 28;
  margin: 0;
}

p {
  font-size: 22;
  font-weight: light;
  color: black;
  margin: 0;
}

body {
  font-family: "Josefin Sans";
  margin: 0;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  color: white;
  background-color: #893d62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 2% 5% 2% 5%;
  height: 70px;
}

.menu_sections {
}

.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name {
  margin-right: 23%;
  white-space: nowrap;
}

.button_home {
  font-family: inherit;
  background-color: #893d62;
  font-size: 52px;
  font-weight: bolder;
  border: none;
  color: white;
  padding: 0%;
  text-align: center;
  text-decoration: none;
}

.header_email {
  font-weight: lighter;
}

.mail {
  text-decoration: none;
  color: white;
}

ul {
  font-weight: 500;
  font-size: 28;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}

li a:hover {
  font-weight: 500;
  color: #accecb;
}

/* text */

.names {
  padding: 12% 5% 0% 5%;
  /* pick a color */
  /* color: #893D62; */
  color: #2b706b;
}

.project {
  padding: 4% 5% 1% 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.project_info {
  display: flex;
  flex-flow: column wrap;
  width: 650px;
  align-items: flex-start;
  gap: 25px;
}

.delivered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5%;
  width: 650px;
}

.skills {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5%;
  width: 650px;
}

.blank_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5%;
  width: 650px;
}

.project_info_1 {
  width: 75%;
  padding: 0%;
  display: flex;
  flex-flow: column nowrap;
}

.microsite_link {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-top: 82px;
}

.button_microsite {
  font-family: inherit;
  background-color: #2b706b;
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  cursor: pointer;
}

.button_microsite:hover {
  background-color: #40817d;
}

.name_info {
  width: 650px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.bold_1 {
  font-weight: bolder;
  padding-top: 0%;
  width: 18%;
}

.bold {
  font-weight: bolder;
  width: 30%;
}

.project_text {
  font-weight: lighter;
  padding: 1% 0% 5% 0%;
}

/* project photo section */

.photos {
  padding: 1% 5% 6% 5%;
  display: grid;
  max-width: 100%;
  height: 400%;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(28, 1fr);
  grid-gap: 30px;

  grid-template-areas:
    "lemonde_MG lemonde_MG lemonde_MG"
    "lemonde_MG lemonde_MG lemonde_MG"
    "lemonde_MG lemonde_MG lemonde_MG"
    "lemonde_MG lemonde_MG lemonde_MG"
    "lemonde_MG lemonde_MG lemonde_MG"
    "poster poster laptop"
    "poster poster laptop"
    "poster poster laptop"
    "poster poster mobile"
    "poster poster mobile"
    "poster poster mobile"
    "poster poster covers"
    "poster poster covers"
    "poster poster covers"
    "title contents quote"
    "title contents quote"
    "title contents quote"
    "binding cat hatter"
    "binding cat hatter"
    "binding cat hatter"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3"
    "microsite1 microsite2 microsite3";
}

@media only screen and (max-width: 1024px) {
  .photos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 30px;
    grid-template-areas:
      "lemonde_MG"
      "poster"
      "laptop"
      "mobile"
      "covers"
      "title "
      "contents"
      "quote"
      "binding"
      "cat"
      "hatter"
      "microsite1"
      "microsite2"
      "microsite3";
  }
}

.photos div {
  overflow: hidden;
}

.photos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lemonde_MG {
  grid-area: lemonde_MG;
  padding-bottom: 2%;
}

.lemonde_MG img {
  object-fit: contain;
}

.lemonde_MG video {
  width: 100%;
  height: 100%;
}

.poster {
  grid-area: poster;
}

.poster img {
  transform: scale(1.2) translateY(4%) translateX(0%);
}

.laptop {
  grid-area: laptop;
}

.laptop img {
  transform: scale(1) translateY(-3%) translateX(0%);
}

.mobile {
  grid-area: mobile;
}

.mobile img {
  transform: scale(1.1) translateY(-4%) translateX(0%);
}

.covers {
  grid-area: covers;
}

.covers img {
  transform: scale(1.3) translateY(-3%) translateX(0%);
}

.title {
  grid-area: title;
}

.title img {
  transform: scale(1.2) translateY(0%) translateX(0%);
}

.contents {
  grid-area: contents;
}

.contents img {
  transform: scale(1.2) translateY(0%) translateX(0%);
}

.quote {
  grid-area: quote;
}

.quote img {
  transform: scale(1.2) translateY(0%) translateX(0%);
}

.binding {
  grid-area: binding;
}

.binding img {
  transform: scale(1.2) translateY(0%) translateX(0%);
}

.cat {
  grid-area: cat;
}

.cat img {
  transform: scale(1.2) translateY(0%) translateX(0%);
}

.hatter {
  grid-area: hatter;
}

.hatter img {
  transform: scale(1.2) translateY(0%) translateX(0%);
}

.microsite1 {
  grid-area: microsite1;
}

.microsite1 img {
  object-fit: contain;
  transform: scale(3.3) translateY(34.5%) translateX(0%);
}

.microsite2 {
  grid-area: microsite2;
}

.microsite2 img {
  object-fit: contain;
  transform: scale(3.3) translateY(4%) translateX(0%);
}

.microsite3 {
  grid-area: microsite3;
}

.microsite3 img {
  object-fit: contain;
  transform: scale(3.3) translateY(-34.7%) translateX(0%);
}

/* navigation arrows */

.navigation {
  display: flex;
  gap: 10px;
  padding: 5% 5% 3% 5%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.navigation_left {
  flex: 1;
  display: flex;
  height: 90px;
  text-decoration: none;
}

.navigation_right {
  flex: 1;
  display: flex;
  height: 90px;
  justify-content: flex-end;
  text-decoration: none;
}

/* navigation arrows - left */

.triangle_left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.triangle_outer_left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 65px solid #40817d;
}

.triangle_inner_left {
  position: relative;
  bottom: 28px;
  left: 12px;
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 29px solid transparent;
  border-right: 47px solid white;
}

.arrow_left_image {
  transform: scale(90%);
  object-fit: contain;

  padding: 0% 2% 0% 2%;
}
@media only screen and (max-width: 1100px) {
  .arrow_left_image,
  .arrow_right_image {
    display: none;
  }
}

.arrow_left_name {
  display: block;
  color: #893d62;
  font-size: 28;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* navigation arrows - right */

.arrow_right_name {
  display: block;
  color: #893d62;
  font-size: 28;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow_right_image {
  transform: scale(90%);
  object-fit: contain;
  margin: 0%;
  padding: 0% 2% 0% 2%;
}

.triangle_right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.triangle_outer_right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 65px solid #40817d;
}

.triangle_inner_right {
  position: relative;
  bottom: 28px;
  right: 59px;
  width: 0;
  height: 0;
  border-top: 28px solid transparent;
  border-bottom: 29px solid transparent;
  border-left: 47px solid white;
}

/* footer */

footer {
  font-weight: 600;
  color: white;
  background-color: #893d62;
  text-align: left;
  margin-top: 0.5%;
  padding: 4% 5% 4% 5%;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.contact_me {
  align-items: flex-end;
}

.row1 {
  display: flex;
  justify-content: flex-start;
}

.row2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.column1 {
  display: flex;
  align-self: flex-start;
  padding-top: 5px;
}

.column2 {
  display: flex;
  flex-flow: row nowrap;
  gap: 60px;
}

.contact_email {
  flex: 1;
  font-size: 32;
}

.linkedin {
  height: 40px;
}

.github {
  height: 40px;
}

.figma {
  height: 40px;
}
