:root {
  --font-size-22: min(3vw, 22px);
  --font-size-28: min(4vw, 28px);
  --font-size-32: min(5vw, 32px);
  --font-size-52: min(8vw, 52px);
  --font-size-82: min(10vw, 82px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  color: white;
  background-color: 893D62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 2% 5% 2% 5%;
  height: 70px;
  width: 100vw;
  box-sizing: border-box;
}

.menu_sections > div {
  padding: 12px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .menu_sections ul {
    display: none;
  }
  .menu_sections > div {
    display: block;
  }
}

.menu_icon {
  padding: 12px;
  cursor: pointer;
  color: white;
  font-size: var(--font-size-32);
  width: 32px;
  text-align: center;
}

.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name {
  margin-right: 23%;
  white-space: nowrap;
}

.button_home {
  font-family: inherit;
  background-color: 893D62;
  font-size: var(--font-size-52);
  font-weight: bolder;
  border: none;
  color: white;
  padding: 0%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.header_email {
  font-weight: lighter;
  text-decoration: none;
  font-size: var(--font-size-28);
}

@media only screen and (max-width: 1024px) {
  .header_email {
    display: none;
  }
}

.mail {
  text-decoration: none;
  color: white;
}

ul {
  font-weight: 500;
  font-size: var(--font-size-28);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

.menu_section_link {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}

li a:hover {
  font-weight: 500;
  color: ACCECB;
}

.menu_section_portfolio {
  position: relative;
  display: inline-block;
}

.portfolio_dropdown {
  margin-right: 8px;
  background-color: white;
  right: 0;
  display: none;
  position: absolute;
  min-width: 160px;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu_section_portfolio:hover .portfolio_dropdown {
  display: block;
}

.portfolio_dropdown_link {
  margin: 2px 4px;
  display: block;
  padding: 8px;
  text-decoration: none;
  white-space: nowrap;
}

.portfolio_dropdown_link:nth-child(even) {
  background-color: #d6b0c1;
  color: #893d62;
}
.portfolio_dropdown_link:nth-child(even):hover {
  color: #893d62;
}

.portfolio_dropdown_link:nth-child(odd) {
  background-color: #accecb;
  color: #2b706b;
}
.portfolio_dropdown_link:nth-child(odd):hover {
  color: #2b706b;
}

.overflow_menu {
  display: none;
}

body.overflow_menu_visible {
  overflow: hidden;
}

body.overflow_menu_visible .overflow_menu {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #dcc5d0;
}

.overflow_menu header {
  background-color: #dcc5d0;
}

.overflow_menu_link:not(:hover) h1 {
  text-decoration: none;
}

.overflow_menu_link {
  text-decoration: none;
}

.overflow_menu_link h1 {
  text-decoration: underline;
  color: #2b706b;
  font-size: var(--font-size-82);
  padding: 2vh 0;
}

.overflow_menu_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overflow_menu_button_home {
  font-size: var(--font-size-52);
  font-weight: bolder;
  border: none;
  color: white;
  padding: 0%;
  text-align: center;
  text-decoration: none;
}

.close_icon {
  padding: 12px;
  cursor: pointer;
  color: white;
  font-size: var(--font-size-32);
  width: 32px;
  text-align: center;
}
