:root {
  --font-size-22: min(3vw, 22px);
  --font-size-28: min(4vw, 28px);
  --font-size-32: min(5vw, 32px);
  --font-size-52: min(8vw, 52px);
  --font-size-82: min(9vw, 82px);
}

/* footer section */

footer {
  font-weight: 600;
  color: white;
  background-color: #893d62;
  text-align: left;
  margin-top: 0.5%;
  padding: 4% 5% 4% 5%;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.contact_me {
  align-items: flex-end;
}

.row1 {
  display: flex;
  justify-content: flex-start;
}

.row2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.column1 {
  display: flex;
  align-self: flex-start;
  padding-top: 5px;
}

.column2 {
  display: flex;
  flex-flow: row nowrap;
  gap: 60px;
}

.contact_email {
  flex: 1;
  font-size: var(--font-size-32);
}

.linkedin {
  height: 40px;
}

.github {
  height: 40px;
}

.figma {
  height: 40px;
}

@media only screen and (max-width: 1024px) {
  .row1 {
    justify-content: start;
  }

  .row2 {
    align-items: start;
    flex-direction: column;
    row-gap: 35px;
  }
}
