:root {
  --font-size-22: min(3vw, 22px);
  --font-size-28: min(4vw, 28px);
  --font-size-32: min(5vw, 32px);
  --font-size-52: min(8vw, 52px);
  --font-size-82: min(9vw, 82px);
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-82);
  color: 893D62;
}

h3 {
  font-size: var(--font-size-32);
  font-weight: lighter;
}

.email {
  color: 893D62;
}

h4 {
  font-size: var(--font-size-28);
}

p {
  font-size: var(--font-size-22);
  font-weight: light;
  color: black;
}

body {
  font-family: "Josefin Sans";
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

/* intro section */

.intro {
  background-color: DCC5D0;
  color: 893D62;
  display: flex;
  text-align: center;
  padding-top: 119px;
}

.hi {
  margin-top: 15%;
  color: 2B706B;
  padding: 3% 0% 5% 0%;
}

.hi_continued {
  padding: 5% 0% 5% 0%;
}

.hi_email {
  padding: 12% 0% 10% 0%;
}

.intro_section {
  flex: 1;
  height: 750px;
  overflow: hidden;
  background-color: white;
}

.into_text {
  padding-right: 6.5%;
}

.profile_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 90% center;
  transform: scale(140%);
}

@media only screen and (max-width: 1024px) {
  .intro {
    flex-direction: column;
    padding-top: 70px;
  }

  .into_text {
    padding-left: 6.5%;
  }
}

/* about me section */

.about {
  background-color: white;
  text-align: center;
  margin-top: 0.5%;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 110px;
}

.about2 {
  display: flex;
  gap: 4%;
  padding: 1% 0% 0% 0%;
}

@media only screen and (max-width: 1024px) {
  .about2 {
    flex-direction: column;
    row-gap: 50px;
  }
}

.education_image {
  width: 100%;
  height: 247px;
  object-fit: cover;
  object-position: 0% 91%;
  transform: scale(1, 1);
  padding-top: 5%;
}

.education_title {
  padding: 5% 0% 4% 0%;
}

.explain {
  text-align: left;
  margin: 0%;
}

.workexperience_title {
  padding: 5% 0% 4% 0%;
}

.workexperience_image {
  width: 100%;
  height: 247px;
  object-fit: cover;
  object-position: 0% 91%;
  transform: scale(1, 1);
  padding-top: 5%;
}

.about_section {
  flex: 1;
}

@media only screen and (max-width: 1024px) {
  .workexperience_title,
  .education_title {
    text-align: left;
  }

  .workexperience_image,
  .education_image {
    height: 150px;
  }
}

/* portfolio projects section */

.portfolio {
  text-align: center;
  margin-top: 0.5%;

  padding-top: 110px;
}

.portfolio_section_link {
  text-decoration: none;
}

.portfolio_info {
  padding: 3% 5% 6% 5%;
}

.portfolio_info1 {
}

.portfolio_info2 {
  padding-top: 1%;
}

.portfolio_sections {
  display: grid;
  row-gap: 10px;
  overflow-x: hidden;
}

.titlesequences_div {
  background-color: #accecb;
  padding: 9%;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: right 10% bottom 0px;
}

.titlesequences_div:hover {
  background-image: url(Website_Images/Category_images/titlesequences.png);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .titlesequences_div {
    background-image: url(Website_Images/Category_images/titlesequences.png);
    cursor: pointer;
  }
}

.titlesequences_name {
  font-size: var(--font-size-82);
  font-weight: bolder;
  color: #2b706b;
}

.sunsensesuncream_div {
  background-color: #d6b0c1;
  padding: 9%;
  background-size: auto 77%;
  background-repeat: no-repeat;
  background-position: left 0% bottom 0px;
}

.sunsensesuncream_div:hover {
  background-image: url(Website_Images/Category_images/sunsensesuncream.png);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .sunsensesuncream_div {
    background-image: url(Website_Images/Category_images/sunsensesuncream.png);
    cursor: pointer;
  }
}

.sunsensesuncream_name {
  font-size: var(--font-size-82);
  font-weight: 700;
  color: #893d62;
}

.lemonde_div {
  background-color: #accecb;
  padding: 9%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right 10% bottom 0px;
}

.lemonde_div:hover {
  background-image: url(Website_Images/Category_images/lemonde.png);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .lemonde_div {
    background-image: url(Website_Images/Category_images/lemonde.png);
    cursor: pointer;
  }
}

.lemonde_name {
  font-size: var(--font-size-82);
  font-weight: 700;
  color: #2b706b;
}

.boardgame_div {
  background-color: #d6b0c1;
  padding: 9%;
  background-size: auto 65%;
  background-repeat: no-repeat;
  background-position: left 10% bottom 0px;
}

.boardgame_div:hover {
  background-image: url(Website_Images/Category_images/boardgame.png);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .boardgame_div {
    background-image: url(Website_Images/Category_images/boardgame.png);
    cursor: pointer;
  }
}

.boardgame_name {
  font-size: var(--font-size-82);
  font-weight: 700;
  color: #893d62;
}

.sadnessevent_div {
  background-color: #accecb;
  padding: 9%;
  background-size: auto 63%;
  background-repeat: no-repeat;
  background-position: right 10% bottom 0px;
}

.sadnessevent_div:hover {
  background-image: url(Website_Images/Category_images/sadnessevent.png);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .sadnessevent_div {
    background-image: url(Website_Images/Category_images/sadnessevent.png);
    cursor: pointer;
  }
}

.sadnessevent_name {
  font-size: var(--font-size-82);
  font-weight: 700;
  color: #2b706b;
}

.fictionalcreature_div {
  background-color: #d6b0c1;
  padding: 9%;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: left 0% bottom 0px;
}

.fictionalcreature_div:hover {
  background-image: url(Website_Images/Category_images/fictionalcreature.png);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .fictionalcreature_div {
    background-image: url(Website_Images/Category_images/fictionalcreature.png);
    cursor: pointer;
  }
}

.fictionalcreature_name {
  font-size: var(--font-size-82);
  font-weight: 700;
  color: #893d62;
}

@media only screen and (max-width: 1024px) {
  .portfolio_info {
    text-align: left;
  }

  .portfolio_info1,
  .portfolio_info2 {
    display: inline;
  }
}
